.jumbotron {
    background-image: url("../images/showme.png");
    background-size: 100%;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#feedbackImage {
    float: right;
    margin-right: 15px;
}

.images {
    margin: 15px;
}

#feedbackImage {
    margin-left: 200px;
    float: right;
}

.bg-secondary,
.bg-info {
    padding-top: 15px;
    margin-left: 15px;
}

#feedbackText {
    float: right;
}
